#content{
max-width: 1600px;
margin: 0 auto;
}
#logo{
width: 100px;
height: auto;

}
#background {
    height: 725px;
    background-color: chocolate;
}


#hero-box{
text-align: center;
margin-top: 100px;

}


header {
    background-color:chocolate;
}
nav a:hover {
    background-color: black;
    color: #f28b05;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: blue;
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
} 
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
                    
main section{
    text-align: center;
}
.button-box{
    text-align: center;
}
#hero-msg h1, #hero-msg h4{
text-align: center;
}
body{
  background-color: #d9c2a3; 
  font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0; 
}
header{
    background-color:chocolate;
}
nav a:hover{
    background-color: brown ;
}
.book, .join{
    background-color: chocolate;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 30px;
}
.book:hover, .join:hover{
    background-color:brown;
}

.msg{
    background-color: brown;
    line-height: 1.5em;
}
footer{
    background-color: chocolate;
}
footer a{
    text-decoration: none;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

.card-img {
    border: 10px solid brown;
}
main section img {
    box-sizing: border-box;
}
.home-grid{
margin-top:60px
}
