header{
background-color: #0493f9;
}

#logo:hover{
transform: scale(1.1);
}

nav a {
    text-align: center;
    color: #fb2104;
    text-decoration: none;
    color: #fcfbfb;
    width: 200px;
    font-size: 50px;
    padding: 10px;
    border: none;
    font-family: monospace;
} 

footer{
    background-color: rgb(245, 147, 0);
}

.cardimg{
max-width: 800px;
max-height: inherit;
display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 25px;
}

.homemountain{
    max-width: 800px;
    max-height: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;

}

nav a:hover {
    background-color:#fb2104;
    color: #fcfbfb;
    width: 200px;
    font-size: 50px;
    padding: 10px;
    border: none;
    padding-bottom: 25px;
   
}

nav{
    text-align: center;
    
    
 }
 p{
text-align: center;
font-size:xx-large;
 }

 body{
background-color: lightgray;
 }
 