.parallax {
    /* The image used */
    background-image: url(https://i.postimg.cc/LXDGRXLh/pexels-sebastian-palomino-1955134.jpg);;
  
    /* Set a specific height */
    min-height: 1000px; 
    
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .last {
    /* The image used */
    background-image: url(https://i.postimg.cc/jdmJPPrf/pexels-tobias-bj-rkli-2334533.jpg);;
  
    /* Set a specific height */
    min-height: 1000px; 
    
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header{
    background-color: #0493f9;
    }
    
   
    nav a {
        text-align: center;
        color: #fb2104;
        text-decoration: none;
        color: #fcfbfb;
        width: 200px;
        font-size: 50px;
        padding: 10px;
        border: none;
        font-family: monospace;
    } 
    
    footer{
        background-color: #0493f9;
        padding: 25px 50px;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav a:hover {
        background-color:#fb2104;
        color: #fcfbfb;
        width: 200px;
        font-size: 50px;
        padding: 10px;
        border: none;
        padding-bottom: 25px;
       
    }

    nav{
        text-align: center;
        
        
     }
  form{
    text-align: center;
    

  }    
  .con{
    text-align: center;
  }

  form button{
    background-color: #fb2104; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  form button:hover{
    background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }